@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
    /* Colors */
    --primary-dark-blue: hsl(233, 26%, 24%);
    --primary-lime-green: hsl(136, 65%, 51%);
    --primary-bright-cyan: hsl(192, 70%, 51%);
 
    --neutral-grayish-blue: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light: hsl(0, 0%, 98%);

    /* Font-weight */
    --light: 300;
    --regular: 400;
    --bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASES GENERALES     */
.btn-primary{
    border: none;
    padding: 0.9rem 2rem;
    border-radius: 2.5rem;
    background: linear-gradient(to left,  var(--primary-bright-cyan), var(--primary-lime-green));
    color: white;
    font-weight: var(--bold);
}
.text-info {
    color: var(--neutral-grayish-blue);
    font-weight: var(--regular);
    line-height: 1.5rem;
    font-size: .9rem;
}


body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

/* NAVBAR */
.navbar-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden; 
}
.navbar__brand {
    display: flex;
    align-items: center;
    padding: 0 1.5rem 0;
}
.navbar__menu-container {
    position: absolute;
    top: 5rem;
    width: 100%;
    right: -100%;
}
.navbar__menu {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 1.2rem 0;
    border-radius: 0.3rem;
}
.menu__item {
    text-align: center;
    padding: 0.8rem;
    list-style: none;
}

.navbar__button {
    display: none;
}
.navbar__toggler button {
    width: 3rem;
    height: 100%;
    border: none;
    background: none;
    font-size: 1.8rem;
}
.menu-active {
    left: 0;
}

/* HEADER */
header {
    margin-top: 4.5rem;
    text-align: center;
    padding-bottom: 5rem;
}
.header__banner{
    background: url('../images/bg-intro-mobile.svg') no-repeat;
    background-size: cover;
}
.header__banner img {
    width: 100%;
    padding: 1rem;
}
.header__title {
    color: var(--primary-dark-blue);
    text-align: center;
    margin-top: 0.5rem;
    font-weight: var(--regular);
}

.header__info {
    color: var(--neutral-grayish-blue);
    margin-top: 1.3rem;
    padding: 0 1rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.header__button {
    margin-top: 2rem;
}

/* SECTION -> WHY CHOOSE EASYBANK */
.whyChoose {
    background: var(--neutral-very-light);
    padding-top: 3.8rem;
    text-align: center;
}
.whyChoose__title {
    color: var(--primary-dark-blue);
    font-weight: var(--regular);
    width: 50%;
    margin: 0 auto;
}
.whyChoose__info {
    margin: 1.3rem auto 0;
    width: 90%;

}
.whyChoose__reasons {
    margin-top: 3.2rem;
}
.reason {
    margin-top: 2rem;
}
.reason__title {
    margin-top: 1.4rem;;
    font-size: 1.3rem;
    color: var(--primary-dark-blue);
    font-weight: var(--regular);
}
.reason__info {
    margin: 1rem auto 0;
    width: 86%;
}

/* SECTION LATEST ARTICLES */